<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Travelowkey Website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/index.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <header>
        <nav>
            <a href="">Home</a>
            <a href="#">Destinations</a>
            <a href="#">Tours</a>
            <a href="#">Contact</a>
            <a href="{{ url_for('login') }}">Login</a>
        <h1>Travelowkey</h1>
    </header>

    <main>
        <section class="destination">
            <h2>New York City</h2>
            <img src="{{ url_for('static', filename='images/NewYork.jpg') }}" alt="New York City">
            <p>New York City, the city that never slee
                
                ps. From the bright lights of Times Square to the iconic Statue of Liberty, there's always something to see and do in the Big Apple.</p>
            <a href="#">Learn More</a>
        </section>

        <section class="destination">
            <h2>Paris</h2>
            <img src="{{ url_for('static', filename='images/Paris.jpg') }}" alt="Paris">
            <p>Paris, the city of love. From the Eiffel Tower to the Louvre Museum, Paris is the perfect destination for a romantic getaway.</p>
            <a href="#">Learn More</a>
        </section>

        <section class="destination">
            <h2>Sydney</h2>
            <img src="{{ url_for('static', filename='images/Sydney.jpg') }}" alt="Sydney">
            <p>Sydney, Australia's largest city. From the iconic Opera House to the beautiful beaches, Sydney is a must-visit destination for any traveler.</p>
            <a href="#">Learn More</a>
        </section>
    </main>

    <footer>
        <p>© 2023 Travel Website. All rights reserved.</p>
    </footer>
</body>
</html>


